* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  /* --primary-color:black; */
  --secondary-color:rgb(245, 245, 245);
}
.page-wrap {
  width: 100%;
  background-color: var(--primary-color);
}
.nav-cont-wrap{
  display: grid;
  row-gap: 25px;
  column-gap: 10px;

}
.nav-wrap {
  width: 100%;
  background-color: rgb(179, 167, 167);
  grid-column-start: 1;
  grid-column-end: 3;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #9c0688;
}
.left-nav {
  width: 30%;
  padding: 5px;
  font-size: 30px;
  font-family: "Stick No Bills", sans-serif;
  color: white;
}
.right-nav {
  width: 68%;
  padding: 5px;
  display: flex;
  margin-top: 5px;
}
.search-cont {
  width: 100%;
  padding: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  background-color: white;
  resize: none;
  outline: none;
}
.btn-cont {
  padding: 5px;
  border: none;
}
.img-animation-wrap {
  width: 100%;
  height: 40vh;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  box-shadow: -30px 8px 5px gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.portfoli-user-detail {
  width: 50%;
  padding: 5px;
  font-family: "Yaldevi", sans-serif;
  border-left: 6px solid rgb(177, 1, 1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.user-cont-wrap {
  text-align: center;
}
.user-tile {
  font-size: 20px;
  line-height: 25px;
  color: #d9dbe0;
}
.user-detail {
  line-height: 25px;
  margin-top: 14px;
  font-size: 13px;
  color: #d9dbe0;
}
/* .img-animation-cont-first{
  width: 100%;
  display: flex;
} */
.animation-cont {
  width: 50%;
  height: 40vh;
  background-color: orange;
}
/* .animation-cont{
    width: 20%;
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 45px;

} */
/* .animation-cont img{
height:  100%;
position:absolute;
left: 50%;
bottom: 0px;
transform: translateX(-30%); */
/* transform: rotate(0.3turn); */
/* transition:  bottom 1s, left 1s;
}
.animation-cont:hover .first{
bottom: 40px;
}
.animation-cont:hover .second{
    left: 53%;
} */
.first-box-wrap {
  width: 100%;
  /* display: flex;
    flex-direction: column; */
  /* background-color: blueviolet; */
  margin-top: 20px;
  /* border-left: 6px solid rgb(1, 83, 177);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
}
.first-box-cont{
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}
.first-box{
  background-color: white;
  width: 45%;
  box-shadow: 3px 7px 5px gray;
  border-radius: 10px;
}
.second-box{
  width: 45%;
  background-color: white;
  box-shadow: 3px 7px 5px gray;
  border-radius: 10px;
}
  .first-box-top {
  width: 100%;
  /* padding: 2px; */
}
.first-para {
  width: 100%;
  font-size: 14px;
  color: black;
  font-family: "Yaldevi", sans-serif;
  text-align: center;
}
.first-box-middle {
  width: 100%;
  height: 10vh;
  /* padding: 1px; */
  /* font-size: 6px; */
}
.first-box-button {
  width: 100%;
  /* padding: 2px; */
  font-family: "Yaldevi", sans-serif;
  font-size: 10px;
  color: black;
  display: flex;
  justify-content: space-around;
}

/* .second-box-wrap {
  width: 100%;
  height: 20vh;
  background-color: white;
  box-shadow: 3px 7px 5px gray;
  border-left: 6px solid rgb(1, 83, 177);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
} */
.button-nav-wrap {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 13px;
  bottom: 0;
  opacity: 0.8;
}
.button-nav-cont {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  background-color: #9c0688;
}
.button-img-cont{
  margin-top: 6px;
}
ion-icon{
  font-size: 40px;
  color: white;
}
