*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-wrap{
    width: 100%;
    display: grid;
    row-gap: 25px;
    column-gap: 10px;
    background-color: rgb(245, 245, 245);
}
.nav-wrap{
    width: 100%;
    background-color: rgb(179, 167, 167);
    grid-column-start: 1;
    grid-column-end: 3;
}
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #9c0688
}
.left-nav{
    width: 30%;
    padding: 5px;
    font-size: 30px;
    font-family: 'Stick No Bills', sans-serif;
    color: white;
}
.right-nav{
    width: 70%;
    padding: 5px;
    display: flex;
    margin-top: 5px;
}
.search-cont{
    width: 100%;
    padding: 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    background-color: white;
    resize: none;
    outline: none;
}
.btn-cont{
    padding: 5px;
    border: none;

}
.img-animation-wrap{
    width: 100%;
    height: 40vh;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    /* box-shadow: -30px 8px 5px gray; */
}
.portfoli-user-detail{
    width: 50%;
    padding: 5px;
    font-family: 'Yaldevi', sans-serif;
}
.user-cont-wrap{
    text-align: center;
}
.user-tile{
    font-size: 20px;
    line-height: 25px;
    color: #d9dbe0

}
.user-detail{
    line-height: 25px;
    margin-top: 14px;
    font-size: 13px;
    color: #d9dbe0
    
}
.animation-cont{
    width: 50%;
    height: 40vh;
    background-color: orange;
}
.first-box-wrap{
    height: 20vh;
    display: flex;   
    flex-direction: column;
    background-color: white;
}
.first-box-top{
    /* width: 100%; */
    /* width: -moz-min-content; */
    width: min-content;
    height: 5vh;
    background-color: black;
}
.first-para{
    font-size: 15px;
    color: white;
}
.first-box-middle{
    width: 20%;
    height: 5vh;
    background-color: red;
}
.first-box-button{
    width: 20%;
    height: 5vh;
    background-color: blue;
}

.second-box-wrap{
    width: 100%;
    height: 20vh;
    background-color: white;
}
.button-nav-wrap{
    width: 100%;
    height: 10vh;
    position: relative;
    bottom: 0;
    opacity: 0.4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.button-nav-cont{
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: #9c0688;

}